<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prashantmaurice.android.mediapicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Activities.MainFolderActivity.FolderActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".Activities.SubFolderActivity.SubFolderActivity"
            android:theme="@style/NoActionBar"></activity>
    </application>

</manifest>